__pycache__/
*.pyc
result/
results/
paper/
*.pkl
*.pt
!**/models/**/*.pt
!**/models/**/*.ckpt
!TSP/data/*.pkl
!CVRP/data/*.pkl
!CVRP/data/**/*.vrp
!CVRP/data/**/*.json
!CVRPTW/data/*.pt
.DS_Store
*.log
*.aux
*.out
*.fls
*.fdb_latexmk
